In [18]:
# -*- coding: UTF-8 -*-
"""PyRamen Homework Starter."""

'PyRamen Homework Starter.'

In [19]:
# @TODO: Import libraries
import pandas as pd
import numpy as np

In [20]:
menudf = pd.read_csv('menu_data.csv')
salesdf = pd.read_csv('sales_data.csv')

In [28]:
menudf.head()

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2

In [22]:
menudf.shape

(32, 5)

In [23]:
salesdf.head()

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen

In [24]:
salesdf.shape

(74124, 5)

In [29]:
#loop over rows and append each row to menu list
menu = []

# Iterate over each row in menudf
for index, rows in menudf.iterrows(): 
    # Create list for the current row 
     menurows=[rows.item, rows.category, rows.description, rows.price, rows.cost] 
      
    # append the list to the final list 
     menu.append(menurows)

In [31]:
sales = []
for index, rows in salesdf.iterrows():
    salesrows = [rows.Line_Item_ID, rows.Date, rows.Credit_Card_Number, rows.Quantity, rows.Menu_Item]
    sales.append(salesrows)

In [36]:
# Rename column titles to combine csv's in a moment.
menudf = menudf.rename({'item' : 'Menu_Item'}, axis = 'columns')
menudf.head()

,Menu_Item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2

In [48]:
combineddf = pd.merge(menudf, salesdf, on='Menu_Item', how='inner')

In [59]:
combineddf.head(50)

,Menu_Item,category,description,price,cost,Line_Item_ID,Date,Credit_Card_Number,Quantity
0,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,39,01-01-2017,5567347994803336,1
1,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,40,01-01-2017,5567347994803336,1
2,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,51,01-01-2017,9720247648273415,3
3,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,52,01-01-2017,9720247648273415,3
4,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,57,01-01-2017,2925610854460099,2
5,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,58,01-01-2017,2925610854460099,2
6,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,99,01-01-2017,9996129182295125,1
7,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,100,01-01-2017,9996129182295125,1
8,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,125,01-01-2017,904987186096980,1
9,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,126,01-01-2017,904987186096980,1
10,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,127,01-01-2017,7106184377897701,4
11,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,128,01-01-2017,7106184377897701,4
12,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,131,01-01-2017,3645808943593645,1
13,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,132,01-01-2017,3645808943593645,1
14,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,143,01-01-2017,89395923107334,1
15,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,144,01-01-2017,89395923107334,1
16,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,161,01-01-2017,5932581824265639,1
17,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,162,01-01-2017,5932581824265639,1
18,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,193,01-02-2017,1290464374629904,1
19,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,194,01-02-2017,1290464374629904,1
20,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,235,01-03-2017,7795574886357532,1
21,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,236,01-03-2017,7795574886357532,1
22,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,259,01-03-2017,9390037144879458,1
23,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,260,01-03-2017,9390037144879458,1
24,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,379,01-04-2017,4629045281632477,1
25,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,380,01-04-2017,4629045281632477,1
26,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,413,01-04-2017,4751616032697411,3
27,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,414,01-04-2017,4751616032697411,3
28,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,427,01-04-2017,324645829035061,1
29,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,428,01-04-2017,324645829035061,1
30,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,485,01-05-2017,9262251693761997,1
31,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,486,01-05-2017,9262251693761997,1
32,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,651,01-06-2017,9739391003029597,1
33,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,652,01-06-2017,9739391003029597,1
34,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,663,01-06-2017,4445684104065688,3
35,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,664,01-06-2017,4445684104065688,3
36,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,725,01-06-2017,6667936494310213,1
37,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,726,01-06-2017,6667936494310213,1
38,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,731,01-06-2017,470647299478323,1
39,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,732,01-06-2017,470647299478323,1
40,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,805,01-06-2017,2053632258877678,1
41,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,806,01-06-2017,2053632258877678,1
42,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,827,01-06-2017,910760105521627,1
43,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,828,01-06-2017,910760105521627,1
44,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,837,01-07-2017,7145087175576493,3
45,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,838,01-07-2017,7145087175576493,3
46,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,863,01-08-2017,5210903989897233,1
47,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,864,01-08-2017,5210903989897233,1
48,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,887,01-08-2017,5033720979496360,2
49,nagomi shoyu,entree,shoyu seasoned clear double stock (organic chi...,11.0,5,888,01-08-2017,5033720979496360,2

In [ ]:
   # Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
    # @TODO: Initialize sales data variables
Line_Item_ID = 0
Date = 0
Credit_Card_number = 0
Quantity = 0
Menu_Item = 0

In [ ]:
    # @TODO:
    # If the item value not in the report, add it as a new entry with initialized metrics
    # Naming convention allows the keys to be ordered in logical fashion, count, revenue, cost, profit

In [50]:
        # Item,Category,Description,Price,Cost
        # @TODO: Initialize menu data variables
Category = 0
Description = 0
Price = 0
COst = 0

In [60]:
        # @TODO: Calculate profit of each item in the menu data
dfpivot = pd.pivot_table(combineddf, values = ['price', 'cost'], index=['Menu_Item'], aggfunc=np.sum)
dfpivot

                                                 cost    price
Menu_Item
burnt garlic tonkotsu ramen                     40620  94780.0
miso crab ramen                                 39324  78648.0
nagomi shoyu                                    33300  73260.0
shio ramen                                      33720  74184.0
soft-shell miso crab ramen                      47194  94388.0
spicy miso ramen                                34010  81624.0
tonkotsu ramen                                  40800  88400.0
tori paitan ramen                               40908  88634.0
truffle butter ramen                            47082  94164.0
vegetarian curry + king trumpet mushroom ramen  46802  86918.0
vegetarian spicy miso                           34110  81864.0

In [61]:
dfpivot['Profit'] = (dfpivot['price'] - dfpivot['cost'])
dfpivot

                                                 cost    price   Profit
Menu_Item
burnt garlic tonkotsu ramen                     40620  94780.0  54160.0
miso crab ramen                                 39324  78648.0  39324.0
nagomi shoyu                                    33300  73260.0  39960.0
shio ramen                                      33720  74184.0  40464.0
soft-shell miso crab ramen                      47194  94388.0  47194.0
spicy miso ramen                                34010  81624.0  47614.0
tonkotsu ramen                                  40800  88400.0  47600.0
tori paitan ramen                               40908  88634.0  47726.0
truffle butter ramen                            47082  94164.0  47082.0
vegetarian curry + king trumpet mushroom ramen  46802  86918.0  40116.0
vegetarian spicy miso                           34110  81864.0  47754.0

In [ ]:
        # @TODO: Else, the sales item does not equal any fo the item in the menu data, therefore no match

In [ ]:
    # @TODO: Increment the row counter by 1

In [ ]:
# @TODO: Print total number of records in sales data

In [ ]:
# @TODO: Write out report to a text file (won't appear on the command line output)